
@import url('https://fonts.googleapis.com/css?family=Swanky+and+Moo+Moo&display=swap');

@font-face {
    font-family: Gotham Rounded Bold;
    src: url(../../assets/fonts/Gotham\ Rounded\ Bold.otf);
}

body {
    overflow-x: hidden !important;
    font-family: 'Gotham Rounded Bold';
}

nav {
    background: #65B3ED;
}

.nav-link {
    /* font-weight: 900; */
    font-size: 16px;
    color: #ffffff;
}

.nav-link:hover {
    color: #ffffff
}

.poster {
    background: linear-gradient(37.6deg, rgba(101, 179, 237, 0.5) 31.28%, rgba(255, 255, 255, 0) 71.73%), url(../images/beautiful-blur-casual-935756.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 92vh;
}

.poster-line {
    top: 200px;
    /* font-weight: 700; */
    color: #FFFFFF;
}

.poster-line h2 {
    top: 200;
    padding-top: 300px;
    font-size: 48px;
}

.our-section {
    margin-top: 60px;
}

.title {
    /* font-weight: 600; */
    font-size: 40px;
    color: #65B3ED;
    padding-top: 60px;
}

.title-text {
    font-size: 20px;
    color: #707070;
}

.middle {
    background: #65B3ED;
    padding-top: 70px;
    padding-bottom: 80px;
}

.learn-section {
    margin-bottom: 80px;
}

.card {
    border: 0;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
    border-radius: 8px;
    padding: 20px;
}

.features-field {
    /* font-weight: 900; */
    font-size: 30px;
    color: #444444;
}

.field-detail {
    /* font-weight: 800; */
    font-size: 22px;
    color: #707070;
    margin: auto;
}

.quote {
    font-family: 'Swanky and Moo Moo';
    font-size: 24px;
    color: #444444;
}

.card-text {
    padding: 0; margin: 0;
    font-family: 'Swanky and Moo Moo';
    font-size: 20px;
    color: #ffffff;
}

footer {
    /* font-weight: 900; */
    color: #fff;
    font-size: 14px;
    padding: 8px;
    background: #707070;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fa-bars{
    color: #fff;
}